<section class="reset_password">
	<div class="container">
		<div class="row">
			<div class="col-12" style="margin: 5vh 0 10vh 0;">
				<div class="heading mt-5">
					<h1 class="mb-4">My Addresses</h1>
					<p class="mb-4">{% render 'appol-icon-account' %} <a href="{{ routes.account_url }}">Return to Account Details</a></p>
				</div><!-- /.heading -->
			</div><!-- /.col -->
			<div class="col-12 col-md-10 mx-auto">
				<div class="row">
					{% for address in customer.addresses %}
						<div class="col-12 col-md-6 col-lg-4">
							<div class="card w-100">
								<div class="card-body">
									{{ address | format_address }}
									<a href="#" class="btn btn-sm btn-primary">Edit Address</a>
									<form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}">
										<input type="hidden" name="_method" value="delete">
										<button type="submit" class="btn btn-sm btn-danger">Delete Address</button>
									</form>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.reset_password -->