<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-7 mx-auto">
				<div class="appol-login-form">
					<div class="heading">
						<h1>Login</h1>
					</div>
			
					{% form 'customer_login' %}

						<div class="alert alert-warning">
							{{ form.errors | default_errors }}
						</div>
			
						<div class="form-floating mb-3">
							<input type="email" name="customer[email]" class="form-control" id="formEmail" placeholder="Email">
							<label for="formEmail">Email</label>
						</div>
			
						<div class="form-floating mb-3">
							<input type="password" name="customer[password]" class="form-control" id="formPassword" placeholder="Password">
							<label for="formPassword">Passsword</label>
						</div>
			
						<a href="#0" class="d-inline-block forgot-password mb-3 mx-auto">Forgot your password?</a>
						<br>
						<input type="submit" class="btn btn-lg btn-danger mb-5" value="Login">
						<br>
						<a href="{{ routes.account_register_url }}">Create an Account</a>
					{% endform %}
				</div>
		
				<div class="appol-recover-password-form d-none">
					<div class="heading">
						<h1>Recover Password</h1>
					</div>
		
					{% form 'recover_customer_password' %}

						<div class="alert alert-warning">
							{{ form.errors | default_errors }}
						</div>

						<div class="form-floating mb-3">
							<input type="email" name="email" class="form-control" id="recoverEmail" placeholder="Email">
							<label for="recoverEmail">Email</label>
						</div>
		
						<input type="submit" class="btn btn-lg btn-success" value="Recover Password">
					{% endform %}
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	let loginFormWrapper = document.querySelector('.appol-login-form');
	let recoverFormWrapper = document.querySelector('.appol-recover-password-form');
	let recoverLink = document.querySelector('.forgot-password');

	recoverLink.addEventListener('click', function () {
		loginFormWrapper.classList.add('d-none');
		recoverFormWrapper.classList.remove('d-none');
	});


</script>