<section>
	<div class="container">
		<div class="w-100 d-flex justify-content-center pt-5">
			<h1>Login</h1>
		</div><!-- /.w-100 -->
		<div class="row mt-5">
			<div class="col-12 col-sm-6 mx-auto">
				<div class="appol-login-form">
					{% form 'customer_login' %}
					
						{{ form_errors | default_errors }}
	
						<div class="form-floating mb-3">
							<input type="email" name="customer[email]" class="form-control" id="floatingInput" placeholder="name@example.com">
							<label for="floatingInput">Email address</label>
						</div>
						<div class="form-floating">
							<input type="password" name="customer[password]" class="form-control" id="floatingPassword" placeholder="Password">
							<label for="floatingPassword">Password</label>
						</div>
	
						<a href="#0" class="d-block my-3">Forgot your password?</a>
	
						<div class="d-flex flex-column align-items-center mt-4">
	
							<input type="submit" class="btn btn-lg btn-danger mb-3" value="Sign In">			
							<p>Or <a href="{{ routes.account_register_url }}">create an account</a></p>
	
						</div>
	
					{% endform %}

				</div><!-- /.appol-login-form -->
				

			</div><!-- /.col -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /section -->

<!-- <section>
	<div class="container">
		<div class="w-100 d-flex justify-content-center pt-5">
			<h1>Login</h1>
		</div>
		<div class="row mt-5">
			<div class="col-12 col-sm-6 mx-auto">
				<div class="form-floating mb-3">
					<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
					<label for="floatingInput">Email address</label>
				</div>
				<div class="form-floating">
					<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
					<label for="floatingPassword">Password</label>
				</div>
				<a href="#0" class="d-block my-3">Forgot your password?</a>
				<div class="d-flex flex-column align-items-center mt-4">
		
					<input type="submit" class="btn btn-lg btn-danger mb-3" value="Sign In">
		
					<p>Or <a href="#0">create an account</a></p>
				</div>
			</div>

		</div>
	</div>
</section> -->