<section class="register">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-7 mx-auto"  style="margin: 5vh 0 10vh 0;">
				<div class="heading text-center mt-5">
					<h1 class="mb-5">Create Account</h1>
				</div>
				<div class="create-customer-form my-5">

					{% form 'create_customer' %}
						{% if form.errors.size > 0 %}
							<div class="alert alert-warning">
								{{ form.errors | default_errors }}
							</div>
						{% endif %}
						<div class="form-floating mb-3">
							<input type="text" name="customer[first_name]" id="firstName" placeholder="First Name" class="form-control" required>
							<label for="firstName">First Name</label>
						</div><!-- /.form-floating -->
						<div class="form-floating mb-3">
							<input type="text" name="customer[last_name]" id="lastName" placeholder="Last Name" class="form-control" required>
							<label for="lastName">Last Name</label>
						</div><!-- /.form-floating -->
						<div class="form-floating mb-3">
							<input type="email" name="customer[email]" id="email" placeholder="Email" class="form-control" required>
							<label for="email">Email</label>
						</div><!-- /.form-floating -->
						<div class="form-floating mb-3">
							<input type="password" name="customer[password]" id="password" placeholder="Password" class="form-control" required>
							<label for="password">Password</label>
						</div><!-- /.form-floating -->

						<div class="d-flex justify-content-center">
							<input type="submit" class="btn btn-lg btn-danger" value="Create Account">
						</div><!-- /.justify-content-center -->
					{% endform %}

				</div><!-- /.create-customer-form -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.register -->