<section class="reset_password">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-7 mx-auto" style="margin: 5vh 0 10vh 0;">
				<div class="heading mt-5 text-center">
					<h1 class="mb-4">Reset Account Password</h1>
					<p class="mb-4">Enter a new password for your account.</p>
				</div><!-- /.heading -->

				<div class="reset-password-form">
					{% form 'reset_customer_password' %}
						{{ form.errors | default_errors }}
						<div class="form-floating mb-3">
							<input type="password" name="customer[password]" id="password" class="form-control" placeholder="Password">
							<label for="password">Password</label>
						</div><!-- /.form-floating -->

						<div class="form-floating mb-3">
							<input type="password" name="customer[password_confirmation]" id="confirmPassword" class="form-control" placeholder="Confirm Password">
							<label for="confirmPassword">Confirm Password</label>
						</div><!-- /.form-floating -->

						<div class="d-flex justify-content-center">
							<input type="submit" class="btn btn-lg btn-danger" value="Reset Password">
						</div><!-- /.d-flex -->
					{% endform %}
				</div><!-- /.reset-password-form -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.reset_password -->