{% if section.blocks.size > 0 %}
	<section>
		<div class="container">
			{% for block in section.blocks %}
				{% case block.type %}
					{% when 'announcement' %}
						<div class="alert alert-primary {{ block.settings.text_alignment }}" role="alert">
							{{ block.settings.announcement_text }}
						</div><!-- /.alert -->
				{% endcase %}
			{% endfor %}
		</div><!-- /.container -->
	</section><!-- /section -->
{% endif %}

{% schema %}
{
	"name": "t:sections.appol-announcement-bar.name",
	"settings": [
		{
			"type": "select",
			"id": "heading_type",
			"label": "t:sections.appol-announcement-bar.settings.heading_type.label",
			"options": [
				{
					"value": "h1",
					"label": "t:sections.appol-announcement-bar.settings.heading_type.option__1"
				},
				{
					"value": "h2",
					"label": "t:sections.appol-announcement-bar.settings.heading_type.option__2"
				}
			],
			"default": "h1"
		}
	],
	"blocks": [
		{
			"type": "announcement",
			"name": "t:sections.appol-announcement-bar.blocks.announcement.name",
			"settings": [
				{
					"type": "text",
					"id": "announcement_text",
					"label": "t:sections.appol-announcement-bar.blocks.announcement.settings.announcement_text.label",
					"default": "Hello World"
				},
				{
					"type": "select",
					"id": "text_alignment",
					"label": "t:sections.appol-announcement-bar.blocks.announcement.settings.text_alignment.label",
					"options": [
						{
							"value": "text-start",
							"label": "t:sections.appol-announcement-bar.blocks.announcement.settings.text_alignment.option__1"
						},
						{
							"value": "text-center",
							"label": "t:sections.appol-announcement-bar.blocks.announcement.settings.text_alignment.option__2"
						},
						{
							"value": "text-end",
							"label": "t:sections.appol-announcement-bar.blocks.announcement.settings.text_alignment.option__3"
						}
					],
					"default": "text-start"
				}
			]
		}
	]
}
{% endschema %}