<div class="container">
	{% render 'appol-section-title', section_title: section.settings.section_heading %}
	<div class="row">
		{% for product in collections[section.settings.featured_collection].products %}
			{% if product.available %}
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					{% render 'appol-product-card', product: product %}
				</div><!-- /.col-12 -->
			{% endif %}
		{% endfor %}
	</div><!-- /.row -->
</div><!-- /.container -->

{% schema %}
{
	"name": "Featured Collection",
	"tag": "section",
	"settings": [
		{
			"type": "text",
			"id": "section_heading",
			"label": "Section Heading",
			"default": "The section heading..."
		},
		{
			"type": "collection",
			"id": "featured_collection",
			"label": "Choose a collection"
		}
	]
}
{% endschema %}